


<footer>
    <div id="contact" class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>This website is created at 17/6/2023.</p>
                    <p style="font-weight: bold;">Contact:</p>
                    <strong>Facebook:</strong><a href="https://www.facebook.com/love27capuchino/">Duong Nguyen</a> <br>
                    <strong>Email:</strong><a href="mailto:duongnguyen23122993@gmail.com">duongnguyen23122993@gmail.com</a><br>
                    <strong>Phone number:</strong>0398896461
                </div>
                
            </div>
        </div>
    </div>
</footer>